/* TabletDetail.css */
.tablet-detail-container {
    display: flex;
    justify-content: flex-start;  /* Sol tarafa hizalama */
    padding: 20px;
    background-color: #444;
  }
  
  .tablet-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Metni sola hizalıyoruz */
    max-width: 800px;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .tablet-info h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .tablet-info p {
    font-size: 1.2em;
    color: #ccc;
    text-align: left;  /* Metin sol hizalı */
    margin-bottom: 8px; /* Her bir bilgi için aralık ekledik */
  }
  
  .tablet-image img {
    width: 20%;  /* Resmi %20 boyutunda küçültüyoruz */
    height: auto;
    border-radius: 10px;
    float: left;  /* Sol tarafa hizalı */
    margin-right: 20px;  /* Resim ve metin arasına boşluk ekliyoruz */
  }
  