/* Tablets.css */
.tablet-page {
    background-color: #333;
    color: white;
    padding-left: 270px; /* Sidebar ile uyumlu olması için */
    padding-top: 20px;
  }
  
  .tablet-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    gap: 20px;
    padding-right: 20px;
  }
  
  .tablet-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .tablet-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .tablet-item h3 {
    margin: 10px 0;
  }
  
  .tablet-item p {
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
  