.tablet-page {
  padding: 20px;
  text-align: center;
}

.tablet-list {
  display: flex;
  flex-wrap: wrap;  /* Tabletler satır bazında sığmıyorsa alt satıra geçer */
  justify-content: center;  /* Tabletleri ortalar */
  gap: 20px;  /* Tabletler arasındaki boşluğu belirler */
}

.tablet-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;  /* Her tabletin genişliği */
  transition: transform 0.3s ease;
}

.tablet-item:hover {
  transform: scale(1.05);  /* Hover efektiyle tablet büyür */
}

.tablet-item img {
  width: 100%;  /* Resmin genişliğini kapsayıcıya uyumlu yapar */
  border-radius: 8px;
}

.tablet-item h2 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}
